.RepositoriesListItem {
  background-color: $background-dark;
  padding: 10px;
  max-width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .rank {
    width: 10%;
  }
  .title {
    width: 40%;
  }
  .name {
    width: 30%;
  }
  .year {
    width: 10%;
  }
  .stars {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 10%;
    svg {
        color: orange;
    }
  }
}
